<% provide :title, t(".title") %>
<div class="all-title-box">
  <div class="container wrapper-content">
    <div class="row">
      <div class="col-lg-12">
        <h2><%= t "static_pages.home.title" %></h2>
        <%= link_to t("static_pages.login"), login_path, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</div>
<h2 class="my-5"><%= t "rooms.all_rooms" %></h2>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
  <%= render @rooms %> 
</div>
<%= paginate @rooms %>
