<% provide(:title, t("users.sign_up")) %>
<div class="mx-auto my-2 form_w">
  <h1><%= t "users.sign_up" %></h1>
  <div class="row">
    <div class="col-md-offset-3">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control my-2", required: true %>
    
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control my-2", required: true %>

        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control my-2", required: true %>

        <%= f.label :phone %>
        <%= f.telephone_field :phone, class: "form-control my-2", required: true %>

        <%= f.label :date_of_birth %>
        <%= f.date_field :date_of_birth, class: "form-control my-2", required: true, min: "1900-1-1", max: "2004-1-1" %>
        
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control my-2", required: true %>
        
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control my-2", required: true %>
    
        <%= f.submit t("users.create_acc"), class: "btn btn-primary my-4" %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
