<% provide :title, t("admin.admin_dashboard") %>
<% unless @receipts.any? %>
  <h3 class="text-center"><%= t "admin.not_have_receipt" %></h3>
<% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= t "receipt.table.from" %></th>
        <th scope="col"><%= t "receipt.table.to" %></th>
        <th scope="col"><%= t "receipt.table.into_money" %></th>
        <th scope="col"><%= t "receipt.table.paid" %></th>
        <th scope="col"><%= t "receipt.payment" %></th>
        <th scope="col"><%= t "receipt.table.status" %></th>
        <th scope="col"><%= t "receipt.table.action" %></th>
      </tr>
    </thead>
    <tbody>
      <% @receipts.each_with_index do |receipt, index| %>
        <%= render "receipts/receipt", receipt: receipt, index: index %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @receipts %>
<% end %>
