<% provide :title, @room.name %>
<div class="container px-4 my-5">
  <div class="row gx-5">
    <div class="col">
      <% @room.images.each do |image| %> 
      <%= image_tag image, class: "img-fluid rounded m-3" %> 
      <% end %>
    </div>
    <div class="col mx-5">
      <h1><%= @room.name %></h1>
      <strong> <%= t "rooms.descriptions" %></strong>
      <p><%= @room.description %></p>
      <strong><%= t "rooms.descriptions" %></strong>
      <ul>
        <li>
          <%= t "rooms.hourly_price", price: number_to_currency(@room.hourly_price, locale: :vi) %>
        </li>
        <li>
          <%= t "rooms.day_price", price: number_to_currency(@room.day_price, locale: :vi) %>
        </li>
        <li>
          <%= t "rooms.monthly_price", price: number_to_currency(@room.monthly_price, locale: :vi) %>
        </li>
      </ul>
      <strong><%= t "rooms.type_room" %></strong>
      <p><%= @room.type_room %></p>
      <%= @room.discount if @room.discount != 0 %>
      <strong><%= t "rooms.furnitures" %></strong>
      <%= render @furnitures %>
      <%= form_for ReceiptDetail.new , remote: true do |f| %>
        <div class="input-group">
          <div class="m-2">
            <%= f.label :from_time, class: "my-2" %>
            <%= f.datetime_field :from_time, class: "form-control me-2", required: true, min: time_current %>
          </div>
          <div class="m-2">
            <%= f.label :end_time, class: "my-2" %>
            <%= f.datetime_field :end_time, class: "form-control me-2", required: true, min: time_current %>
          </div>
          <div class="input-group my-2">
            <div class="m-2">
              <%= f.label :amount_of_people, class: "my-2" %>
              <%= f.number_field  :amount_of_people, value: 1,class: "form-control me-2", required: true, min: 1 %>
            </div>
          </div>
          <div class="input-group my-2">
            <div class="input-group-btn">
              <%= f.hidden_field :room_id, value: @room.id %>
              <%= f.submit t("cart.add_to_cart"), class: "btn-grad" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
