<header class="main-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
    <div class="container container-header">
      <div class="title col-xl-4">
        <li><%= link_to t("layouts.header.title_page"), root_path, class: "title-page" %></li>
      </div>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="nav-item">
              <%= link_to t("layouts.header.home"), root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t("layouts.header.about"), static_pages_about_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t("layouts.header.contact"), static_pages_contact_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t("layouts.header.help"), static_pages_help_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to t("static_pages.login"), "#", class: "nav-link" %>
            </li>
            <li>
              <%= link_to t("english"), {locale: :en}, {class: "nav-link"} %>
            </li>
            <li>
              <%= link_to t("vietnamese"), {locale: :vi}, {class: "nav-link"} %>
            </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
