<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/search" %>
    <div class="container">
      <div id="flash">
        <%= render "layouts/flash" %>
      </div>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
